header{
    background-color: transparent;
    position:absolute;
    top:0;
    width: 100%;
    z-index: 9999;
    height: fit-content;
    display: flex;
}

.box{
    position: relative;
    width: 7vh;
    height: 7vh;
    margin:1vh;
}
.colorwheel{
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    border-radius:50%;
    animation: spin 8s linear infinite;

}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}